  <footer id="footer" class="mt-5">
    <div class="container">
      <div class="row d-flex flex-wrap justify-content-between py-5">
        <div class="col-md-3 col-sm-6">
          <div class="footer-menu footer-menu-001">
            <div class="footer-intro mb-4">
              <a href="{{ url_for('home') }}">
                <img src="static/resource/logo.png" alt="logo">
              </a>
            </div>
            <p>Feito à mão com amor e propósito. A Ana Souza acredita na beleza da arte sustentável e na elegância de cada detalhe. 
              Bolsas e acessórios únicos, criados para durar e inspirar.</p>
            <div class="social-links">
              <ul class="list-unstyled d-flex flex-wrap gap-3">
                <li>
                  <a href="#" class="text-secondary">
                    <svg width="24" height="24" viewBox="0 0 24 24">
                      <use xlink:href="#facebook"></use>
                    </svg>
                  </a>
                </li>
                <li>
                  <a href="#" class="text-secondary">
                    <svg width="24" height="24" viewBox="0 0 24 24">
                      <use xlink:href="#twitter"></use>
                    </svg>
                  </a>
                </li>
                <li>
                  <a href="#" class="text-secondary">
                    <svg width="24" height="24" viewBox="0 0 24 24">
                      <use xlink:href="#youtube"></use>
                    </svg>
                  </a>
                </li>
                <li>
                  <a href="#" class="text-secondary">
                    <svg width="24" height="24" viewBox="0 0 24 24">
                      <use xlink:href="#pinterest"></use>
                    </svg>
                  </a>
                </li>
                <li>
                  <a href="#" class="text-secondary">
                    <svg width="24" height="24" viewBox="0 0 24 24">
                      <use xlink:href="#instagram"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="footer-menu footer-menu-002">
            <h5 class="widget-title text-uppercase mb-4">Atalhos rápidos</h5>
            <ul class="menu-list list-unstyled text-uppercase border-animation-left fs-6">
              <li class="menu-item">
                <a href="{{ url_for('home') }}" class="item-anchor">Home</a>
              </li>
              <li class="menu-item">
                <a href="{{ url_for('all_products') }}" class="item-anchor">Produtos</a>
              </li>
              <li class="menu-item">
                <a href="{{ url_for('blog') }}" class="item-anchor">Blog</a>
              </li>
              <li class="menu-item">
                <a href="{{ url_for('lading_page') }}" class="item-anchor">Sobre</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="footer-menu footer-menu-003">
            <h5 class="widget-title text-uppercase mb-4">Ajuda & Informações</h5>
            <ul class="menu-list list-unstyled text-uppercase border-animation-left fs-6">
              <li class="menu-item">
                <a href="#" class="item-anchor">Acompanhe seu pedido</a>
              </li>
              <li class="menu-item">
                <a href="#" class="item-anchor">Devoluções + Trocas</a>
              </li>
              <li class="menu-item">
                <a href="#" class="item-anchor">Envio + Entrega</a>
              </li>
              <li class="menu-item">
                <a href="{{ url_for('contact') }}" class="item-anchor">Encontre-nos facilmente</a>
              </li>
              <li class="menu-item">
                <a href="#" class="item-anchor">Perguntas Frequentes</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="footer-menu footer-menu-004 border-animation-left">
            <h5 class="widget-title text-uppercase mb-4">Contate-nos</h5>
            <p>Você tem alguma sugestão? <a href="mailto:contato@yourcompany.com"
                class="item-anchor">contato@anasouza.com</a></p>
            <p>Você precisa de ajuda com a compra ou com a troca? Clique no icone do WhatsApp!!
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="border-top py-4">
      <div class="container">
        <div class="row">
          <div class="col-md-6 d-flex flex-wrap">
            <div class="payment-option">
              <span>Opções de pagamento:</span>
              <img src="static/resource/visa-card.png" alt="card">
              <img src="static/resource/paypal-card.png" alt="card">
              <img src="static/resource/master-card.png" alt="card">
            </div>
          </div>
          <div class="col-md-6 text-end">
            <p>© Direitos Autorais 2025 Ana Souza. Todos os direitos reservados. </p>
          </div>
        </div>
      </div>
    </div>
  </footer>