* {
    margin: 0;
    padding: 0;
    color: white;
}

li {
    list-style: none;
}

.link-botao {
  display: block;
  width: 60%;               
  margin: 12px auto;        
  padding: 12px 0;
  border: 1.5px solid rgba(255, 255, 255, 0.8);
  border-radius: 40px;      
  color: white;
  text-align: center;
  font-size: 18px;
  text-decoration: none;
  font-weight: 500;
  background-color: rgba(255, 255, 255, 0.05);
  transition: 0.3s;
  backdrop-filter: blur(4px);
}

.link-botao:hover {
  background-color: rgba(255, 255, 255, 0.2);
  transform: scale(1.03);
}



@media screen and (max-width: 600px) {
    body {
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        height: 100vh;
        background-image: url('../tela_link_bio/resource/img_fundo_projeto_ana_souza.jpeg');
        background-size: cover;
        background-position: center center; 
    }

    .div_sombra_fundo {
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.161);
        position: absolute;
    }

    .div_fundo {
        background-color: rgba(0, 0, 0, 0.319);
        border-radius: 2rem;
        /* 1. Define o gradiente de cores */
        background-image: linear-gradient(
        to top,               /* 2. Direção: de baixo para cima */
        #ffffff40,              /* 3. Cor Inicial (Parte de Baixo): Cinza muito claro (quase branco) */
        #48484810               /* 4. Cor Final (Parte de Cima): Cinza médio (mais escuro) */
        );

        width: 87%;
        height: 60%;
    
    }

    .div_logo {
        margin-top: 6rem;
        font-size: 1.2rem;
    }

    .div_redes_sociais {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-top: 0.2rem;
        margin-bottom: 0.7rem;
        
    }

    .lista_icones_redes_sociais {
        display: flex;
        width: 60%;
        justify-content: space-evenly;

    }

    .div_opcoes {


    }

    .lista_opcoes {
        display: flex;
        height: 100%;
        justify-content: center;
        flex-direction: column;
    }

    .lista_opcoes li {
        margin-top: 0.7rem;
        height: 18%;
    }


}

@media screen and (min-width: 601px)  and (max-width: 1023px) {
    body {
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        height: 100vh;
        background-image: url('../tela_link_bio/resource/img_fundo_projeto_ana_souza.jpeg');
        background-size: cover;
        background-position: center center; 
    }

    .div_sombra_fundo {
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.161);
        position: absolute;
    }

    .div_fundo {
        background-color: rgba(0, 0, 0, 0.319);
        border-radius: 2rem;
        /* 1. Define o gradiente de cores */
        background-image: linear-gradient(
        to top,               /* 2. Direção: de baixo para cima */
        #ffffff40,              /* 3. Cor Inicial (Parte de Baixo): Cinza muito claro (quase branco) */
        #48484810               /* 4. Cor Final (Parte de Cima): Cinza médio (mais escuro) */
        );

        width: 87%;
        height: 60%;
    
    }

    .div_logo {
        margin-top: 6rem;
        font-size: 1.2rem;
    }

    .div_redes_sociais {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-top: 0.2rem;
        margin-bottom: 0.7rem;
        
    }

    .lista_icones_redes_sociais {
        display: flex;
        width: 60%;
        justify-content: space-evenly;

    }

    .div_opcoes {


    }

    .lista_opcoes {
        display: flex;
        height: 100%;
        justify-content: center;
        flex-direction: column;
    }

    .lista_opcoes li {
        margin-top: 0.7rem;
        height: 18%;
    }



    .lista_opcoes li button {
        width: 90%;
        height: 3.8rem;
        border-radius: 2rem;
        border-color: #d2d2d2;
        border-style: solid;
        background-color: #00000000;
        font-size: 1.1rem;
        border-width: 2px
    }   
}

@media screen and (min-width: 1024px)    {
    body {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    max-height: 100vh;
    background-image: url('../tela_link_bio/resource/img_fundo_projeto_ana_souza.jpeg');
    background-size: cover;
    background-position:top; 
    background-repeat: no-repeat; 
    }

    .div_sombra_fundo {
    width: 100%;
    height: 90rem;
    background-color: rgba(0, 0, 0, 0.161);
    position:absolute;
    }

    .div_fundo {
    position: relative;
    transform: translateY(30%);
    background-color: rgba(0, 0, 0, 0.319);
    border-radius: 2rem;
    /* 1. Define o gradiente de cores */
    background-image: linear-gradient(
    to top,               /* 2. Direção: de baixo para cima */
    #ffffff40,              /* 3. Cor Inicial (Parte de Baixo): Cinza muito claro (quase branco) */
    #48484810               /* 4. Cor Final (Parte de Cima): Cinza médio (mais escuro) */
    );

    width: 87%;
    height: 37rem;

    }

    .div_logo {
    margin-top: 6rem;
    font-size: 1.5rem;
    }

    .div_redes_sociais {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 0.2rem;
    margin-bottom: 0.7rem;
    
    }

    .lista_icones_redes_sociais {
    display: flex;
    width: 60%;
    justify-content: space-evenly;

    }

    .lista_icones_redes_sociais li svg{
    width: 1.5rem;
    height: 1.5rem;

    }

    .div_opcoes {


    }   

    .lista_opcoes {
    display: flex;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    }

    .lista_opcoes li {
    margin-top: 0.7rem;
    height: 18%;
    }



    .lista_opcoes li button {
    width: 90%;
    height: 4.5rem;
    border-radius: 2rem;
    border-color: #d2d2d2;
    border-style: solid;
    background-color: #00000000;
    font-size: 1.3rem;
    border-width: 2px
    }
}